<section class="sessions_index">
	<div class="welcome">
		<h1>Welcome to Myroe!</h1>
		<%= link_to(("Log in"), "/sessions/new")%>
		<%= link_to(("Sign Up"), "/users/new")%>
	</div>
	<div class="map">
	</div>
</section>
