<div class="no_sessions">
	<div class="welcome">
		<h2>Welcome to</h2>
		<img class="fish_icon" src="/fishicon.png">
		<h1 class="myroe">MyRoe</h1>
		<div class="login_signup">
		<%= link_to(("Log in"), "/sessions/new")%>
		<%= link_to(("Sign Up"), "/users/new")%>
		</div>
	</div>
</section>
