<div class="info_page">
	<h2 class="info_h2">CSOs and Fecal coliform:</h2>
	<h1 class="info_h1">Sewage in Our Water</h1>
	<p class="info_par">Heavy rain and snowfall in New York City can overload our sewer system, and untreated sewage can flow from certain sewer outfalls, or Combined Sewer Overflows (CSOs), into our waterbodies. CSOs are shown as biohazard symbols on the MyRoe map. The symbols describe the percentage of the year that areas near CSOs contain unsafe (to swim in) levels of fecal coliforms, which are bacteria that may indicate the presence of feces.</p>
	<p class="info_link"><a href='https://www1.nyc.gov/site/dep/water/combined-sewer-overflows.page'>What are CSOs?</a></p>
	<p class="info_link"><a href='http://www.nyc.gov/html/dep/html/harborwater/nyc_waterbody_advisory.shtml'>Real-time NYC Waterbody Advisory</a></p>
	<p class="info_link">CSO map data and percent unsafe calculations may be found on the <a href='http://iquantny.tumblr.com/post/97788820249/fecal-map-nyc-the-worst-places-to-swim-in-the'>IQuantNY tumblr page.</a></p>
</div>