<div class="info_page">
	<h2 class="info_h2">NYC Fish Advisories:</h2>
	<h1 class="info_h1">Toxic Chemicals in Seafood</h1>
	<p class="info_par">Fish are known as bioaccumulators because they take up harmful chemicals present in their food and concentrate them in fat inside their bodies. When we eat them, those chemicals can affect us, especially children under 15 and women who might become pregnant. PCBs, Dioxin, and Cadmium are the main health concerns when eating seafood fished from NYC-area waters. These chemicals may cause birth defects, learning disabilities, and cancer.</p>
	<p class="info_link"><a href='http://www.health.ny.gov/environmental/outdoors/fish/health_advisories/regional/new_york_city.htm'>NYC Fish Advisory Website</a></p>
	<p class="info_link"><a href='health.ny.gov/environmental/outdoors/fish/health_advisories/background.htm#risks'>Health Risks from Contaminants</a></p>
</div>