<div class="bucket_close">CLOSE</div>
<div class="bucket">
	<h1>My Bucket</h1>
	<h1><%= "#{@user.username}" %></h1>
	<h2><%= "#{@user.zipcode}" %></h2>
	<h1>Catches</h1>
	<ul class="catches">
		<% @fishes.each do |fish| %>
				<li class="fish-<%=fish.id%>">
				<%= render partial: "./fishes/show",
				locals: { fish: fish } %>
				</li>
		<% end %>
	</ul>
</div>
