/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Muli', sans-serif;
}

input {
	margin: 10px;
}

input[type='submit'] {
	margin: auto 50px;
}

input:hover {
	cursor: pointer
}

button {
	margin: 10px 15px;
	float: center;
}


ul {
	list-style: none;
	padding: 0;
	display: block;
	max-width: 100%;
}

li {
	float: left;
}

a {
	text-decoration: none;
	color: #E49307;
}

a:hover {
	color: #FFE168;
	cursor: pointer;
}

nav {
	margin: 30px;
	color: #E49307;
	text-decoration: none;
}

nav ul {
	display: block;
	margin: 0;
	max-width: 100%;
	border-bottom: 2px;
	border-bottom-color: #FA8A25;
	border-bottom-style: solid;
}

.icon {
	display: block;
	box-sizing: border-box;
	width: 20%;
	margin: 0 auto;
	padding: 3px;
}

.icon:hover {
	cursor: pointer;
}

#mapdiv {
	width: 66%;
	height: 100%;
	display: block;
	float: right;
	position: relative; 
	left: 0px; 
	top: 0px; 
}

.map_cover {
	position: absolute;
	background-color: black;
	opacity: 0.5;
	width: 66%;
	height: 100%;
	display: block;
	right: 0px; 
	top: 0px; 
	z-index: 999;
}

main {
	position: relative;
	height: 100%;
	width: 100%;
}

.over_map {
	display: block;
	width: 34%;
	float: left;
	text-align: center;
	background-color: #CADFAA;
	position: absolute;
	height: 100%;
	z-index: 99;
	margin: 0;
}

.settings {
	position: absolute;
	background-color: #CADFAA;
	border: 2px;
	border-color: #FA8A25;
	border-style: solid;
	border-top: none;
	z-index: 100;
	margin: 0 30px;
	margin-top: -30px;
	padding: 20px;
	height: 400px;
}

.settings_title {
	color: black;
}

.welcome {
	background-color: #CADFAA;
	border: 2px;
	border-color: #FA8A25;
	border-style: solid;
	z-index: 100;
	margin: 30px auto;
	padding: 50px 30px;
	height: 400px;
	width: 60%;
}

.myroe {
	margin-top: -5px;
	font-size: 40px;
	font-weight: bold;
}

.login_signup {
	margin: 20px;
}

.login {
	background-color: #CADFAA;
	border: 2px;
	border-color: #FA8A25;
	border-style: solid;
	z-index: 100;
	margin: 30px auto;
	padding: 50px 30px;
	height: 400px;
	width: 60%;
}

.signup {
	background-color: #CADFAA;
	border: 2px;
	border-color: #FA8A25;
	border-style: solid;
	z-index: 100;
	margin: 30px auto;
	padding: 50px 30px;
	height: 400px;
	width: 60%;
}

.info_page {
	position: absolute;
	background-color: #CADFAA;
	border: 2px;
	border-color: #FA8A25;
	border-style: solid;
	border-top: none;
	margin: 0 30px;
	margin-top: -30px;
	padding: 20px;
	height: 400px;
	overflow: scroll;
}

.info_h2 {
	font-size: 16px;
}

.info_h1 {
	font-size: 22px;
}

.info_par {
	text-align: left;
	font-size: 14px;
}

.info_link {
	text-align: left;
	font-size: 12px;
}

.delete_user {
	margin: 20px;
}

.clearfix:after {
	display: block;
	clear: both;
	content: " ";
}

.new_fish {
	position: absolute;
	background-color: #CADFAA;
	border: 2px;
	border-color: #FA8A25;
	border-style: solid;
	border-top: none;
	margin: 0 30px;
	margin-top: -30px;
	padding: 20px;
	height: 400px;
}

.new_fish li {
	list-style: none;
}

.edit_fish {
	position: absolute;
	background-color: #CADFAA;
	border: 2px;
	border-color: #FA8A25;
	border-style: solid;
	border-top: none;
	margin: 0 30px;
	margin-top: -30px;
	padding: 20px;
	height: 400px;
}

.edit_fish li {
	list-style: none;
}


.fish_attr {
	margin: 10px 0;
}

.bucket .bucket_title {
	margin-bottom: 10px;
}

.bucket h2 {
	margin-top: 0;
	font-size: 20px;
	font-style: italic;
}

.bucket .catches_title {
	margin-bottom: 20px;
}

.bucket {
	height: 450px;
	margin: 30px;
}

.catches {
	height: 300px;
	overflow-y: scroll;
	width: 100%;
	border: 2px;
	border-style: solid;
	border-color: #FA8A25;
}

.catches_ul {
	box-sizing: border-box;
	width: 100%;
	margin: 0px;
}

.fish_li {
	width: 100%;
	box-sizing: border-box;
}

.fish {
	border-bottom: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FA8A25;
	padding: 15px;
	max-height: 100%;
}

.fish h1 {
	
	margin: 5px 0;
}

.fish_info {
	width: 100%;
	text-align: left;
}

.catch_some {
	height: 60%;
	margin-top: 100px;
}

.infowindow_headings {
	margin: 7px 0;
}

@media only screen and (max-width: 800px) {

	.over_map {
	width: 280px;
	text-align: center;
	background-color: #CADFAA;
	position: absolute;
	top: 0;
	margin: 0 auto;
	height: 500px;
	z-index: 100;
	}

	#mapdiv {
		width: 100%;
	}

	.catches {
		height: 150px;
	}

	.settings {
		height: 400px;
	} 

	.welcome {
		height: 400px;
	}

	.signup {
		height: 400px;
	}

	.info_page {
		height: 400px;
	}

	.login {
		height: 400px;
	}

	.new_fish {
		height: 400px;
	}

	.edit_fish {
		height: 400px;
	}

}












