/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Muli', sans-serif;
}

#mapdiv {
	width: 100%;
	height: 100%;
	position: absolute; 
	left: 0px; 
	top: 0px; 
}

main {
	position: relative;
	height: 100%;
	width: 100%;
}

.over_map {
	background-color: #CADFAA;
	position: absolute;
	z-index: 99;
	max-height: 100%;
	margin: 0;
}

.clearfix:after {
	display: block;
	clear: both;
	content: " ";
}

.bucket_drop, .settings_drop {
	display: none;
}

ul {
	list-style: none;
	padding: 0;
	display: block;
	max-width: 100%;
}

li {
	float: left;
}

a {
	text-decoration: none;
	color: #E49307;
}

a:hover {
	color: #FFE168;
}

nav {
	margin: 30px;
	color: #E49307;
	text-decoration: none;
}

nav ul {
	display: block;
	margin: 0;
	max-width: 100%;
	border-bottom: 2px;
	border-bottom-color: #FA8A25;
	border-bottom-style: solid;
}

nav li {
	display: inline-block;
	float: center;
	margin: 0 auto;
	padding: 10px 10px;
} 

.top_nav li:hover {
	color: #FFE168;
	cursor: pointer;
}

.bucket {
	display: inline-block;
	float: left;
	max-height: 100%;
	margin: 0 30px;
}

.bucket .bucket_title {
	margin-bottom: 10px;
}

.bucket h2 {
	margin-top: 0;
	font-size: 20px;
	font-style: italic;
}

.bucket .catches_title {
	margin-bottom: 20px;
}

.catches {
	overflow-y: scroll;
	margin-top: 10px;
	border-top: 2px;
	border-top-style: solid;
	border-top-color: #FA8A25;
	display: inline-block;
	float: left;
}

.catches_ul {
	margin: 0;
	display: block;
	float: left;
}

.fish_li {
	margin: 0;
	display: inline-block;
	float: left;
}
.fish {
	border: 2px;
	border-style: solid;
	border-color: #FA8A25;
	display: inline-block;
	float: left;
}

@media only screen and (min-width: 420px) {

	#mapdiv {
		width: 66%;
		position: relative;
		display: block;
		float: right;
	}

	.over_map {
		position: relative;
		display: block;
		width: 34%;
		float: left;
		text-align: center;
	}

}












